@font-face {
  font-family: 'Gordita';
  src: url('/fonts/Gordita-Font/subset-Gordita-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/fonts/Gordita-Font/subset-Gordita-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/fonts/Gordita-Font/subset-Gordita-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/fonts/Gordita-Font/subset-Gordita-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
